.main-buttons-product {
  justify-content: center;
  display: flex;
  gap: 24px;
  width: 100%;
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    padding: 10px 18px;
    border-radius: 24px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    min-width: 140px;
  }
  .add-to-button {
    background-color: var(--primary-color);
    color: white;
    border: 1px solid white;
  }

  .share-button {
    background-color: #ffffff;
    color: #898a8d;
    border: 1px solid #e0e0e0;
  }
}

.product-heading-title {
  width: 90%;
}

.product-heading-description {
  font-weight: bold;
  color: #464646;
}

.saved-given-section {
  display: flex;
  position: relative;
  background-color: white;
  width: 100%;
  max-width: 305px;
  height: 53px;
  left: 5px;
  border-radius: 20px;
  border: 1px solid #d9d9d9;
  span {
    display: inline-block;
    margin: auto;
    font-size: large;
    font-weight: 600;
  }
}

.photo-gallery {
  position: relative;
  width: 100%;
  max-width: 360px;
  margin-bottom: 12px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.4);
  color: white;
  border: none;
  font-size: 24px;
  padding: 8px 12px;
  cursor: pointer;
}

.nav.left {
  left: 5px;
}

.nav.right {
  right: 5px;
}

.thumbnails {
  display: flex;
  gap: 10px;

  img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    cursor: pointer;
    border: 3px solid transparent;
  }
}

.thumbnails img.active {
  border-color: var(--primary-color);
}

.section-product-description {
  p {
    color: #464646;
    font-weight: 600;
  }
}

.stores-nearby {
  text-align: center;
}

.google-maps-store-permalink {
  display: flex;
  justify-content: center;
  iframe {
    border: 1px solid #ffffff;
    border-radius: 10px;
  }
}

.online-stores {
  display: flex;
  flex-direction: column;
  gap: 16px;
  .shop-online img {
    max-width: 100%;
    height: auto;
  }
  .store {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 20px;
    border-radius: 16px;
    background: #ffffff;
    p {
      margin: 0;
      font-size: 1rem;
      font-weight: 600;
      color: #8c8c8c;
    }
    button {
      background: none;
      border: none;
      padding-left: 16px;
      cursor: pointer;
      border-left: 1px solid #dcdcdc;
      display: flex;
      align-items: center;
      img {
        width: 20px;
        height: 20px;
      }
    }
  }
}

.article-product {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
