

.photo-gallery {
    position: relative;
    width: 100%;
    max-width: 360px;
  margin-bottom: 12px
}

.photo-gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.4);
  color: white;
  border: none;
  font-size: 24px;
  padding: 8px 12px;
  cursor: pointer;
}

.nav.left {
  left: 5px;
}

.nav.right {
  right: 5px;
}

.thumbnails {
    display: flex;
    gap: 10px;
    
    img {
          width: 80px;
  height: 80px;
  object-fit: cover;
  cursor: pointer;
  border: 3px solid transparent;
    }
}

.thumbnails img.active {
  border-color: var(--primary-color);
}
.saved-given-section {
    display: flex   ;
    background-color: white;
}